body {
	background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
	min-height: 100vh;
}
.card {
	border-radius: 1rem;
	overflow: hidden;
}
.btn-primary {
	background: linear-gradient(45deg, #6ee7b7 0%, #3b82f6 100%);
	color: #fff;
	box-shadow: 0 2px 12px rgba(59, 130, 246, 0.15);
	border: none;
	border-radius: 0 0.5rem 0.5rem 0;
	transition: background 0.2s, color 0.2s;
}
.btn-primary:hover {
	background: linear-gradient(135deg, #3b82f6 0%, #6ee7b7 100%);
	color: #fff;
}
h1 {
	/* text-transform: uppercase; */
	color: #fff;
}
#search-title {
	background: linear-gradient(135deg, #3b82f6 0%, #6ee7b7 100%);
	border: none;
}

#search-sections {
	/* margin: auto 0; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: 1.5rem;
	padding: 2rem 0;
}
